# Data Science Tools and Ecosystem

## Author
Jaxon O'Shea

In this notebook, Data Science Tools and Ecosystem are summarized.Objectives:

**Objectives:**
- Popular Languages in Data Science
- Common Libraries used in Data Science
- Data Science Tools
- Examples of Arithmetic Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit

| Data Science Tools |
| --- |
| Jupyter Lab |
| RStudio |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335